.navbar {
    display: flex;
    align-items: center;
    height: 60px; /* Change the height to your desired value */
}
  
.navbar_item a {
    text-decoration: none;
    color: rgb(82, 191, 82);
    font-size: 20px; /* Change the font size to your desired value */
}
  
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
  
.navbar_item {
    margin-right: 20px;
    margin-left: 20px;
}
  

.navbar_item:hover {
    text-decoration: underline;
    text-decoration-color: rgb(82, 191, 82);
}

.navbar_items_right {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
